<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <property name="LOG_ROOT_DIR" value="/minshenglife/jar-project/monitor/logs"/>
    <property name="LOG_FILE" value="${LOG_ROOT_DIR}/logback.log"/>
    <property name="LOGSTASH_HOST" value="${LOGSTASH_HOST:-10.0.158.209}"/>
    <property name="LOGSTASH_PORT" value="${LOGSTASH_PORT:-5044}"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <fileNamePattern>${LOG_ROOT_DIR}/monitor-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文件保留天数-->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>3600</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
